export APP_ROOT=$(pwd)
set-window-title $(basename $APP_ROOT):80

export DOCKER_WRAPPER_RC=$APP_ROOT/.docker-wrapper.rc
export DOCKER_WRAPPER_APP_TARGET=npm-server

export TLS_CERT=$HOME/.letsencrypt/live/$USER.dev.getto.systems/fullchain.pem
export TLS_KEY=$HOME/.letsencrypt/live/$USER.dev.getto.systems/privkey.pem
